
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~@fortawesome/fontawesome-free/css/all.css';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import'loader';

.godina_dugme:hover {
  background-color: white !important;
  color: $accent !important;
}
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
    box-shadow: none;
}
.godina-dugme-izabrano {
  background-color: white;
  color: $accent;
}
.bg_accent {
  background-color: $accent !important;
}
.color_accent {
  color: $accent !important;
}
.ime_smjera {
  margin-top: 1.5rem;
  font-size: large;
}
.ime_smjera:focus {
  outline: 0;
}
.predmeti ul {
  list-style: none;
}
.predmeti ul li {
  margin-top: 0.5rem;
}
a {
  color: black;
}
a:hover {
  color: $accent;
  text-decoration: none;
}
.fa-plus:hover, .fa-minus:hover{
  cursor: pointer;
  color: $accent;
}
.yeet_box {
  color: white;
  display: inline-block;
  border-radius: 5px;
  background-color: $secondary;
  margin: 0.3rem;
  padding: 0.5rem; 
}
.yeet_box:hover {
  cursor: pointer;
  background-color: $accent;
}
.bezok {
  border: 0;
  box-shadow: none;
  text-align: left;
}

.pom {
  margin-left: 2px;
}

//.card {display:inline-block;}

.bg-lightgray {
  background-color: #eee;
}
.h-100-vh {
  height: 80vh !important;
}
.notButton{
  background:none;
  color:inherit;
  border:none; 
  padding:0!important;
  font: inherit;
  cursor: pointer;
}
