.navbar-nav > li{
  margin-left:10px;
  margin-right:10px;
}
html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}
 footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
} 

.nibba {
  height: 70vh;
}



.navbar .in .nav li {
  display: block;
  float: none;
  width:100%;
}
html,body{
  height:100%;
}
.carousel,.item,.active{
  height:100%;
}
.carousel-inner{
   height:100%;
}